<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Kalau device kamu CloudPOS, tidak perlu pakai NFC permission bawaan Android -->
    <!-- <uses-permission android:name="android.permission.NFC" /> -->
    <!-- <uses-feature android:name="android.hardware.nfc" android:required="false" /> -->

    <!-- Permission umum -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.NFC"/>

    <application
        android:name="androidx.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Semua activity kamu -->
        <activity android:name=".ui.screens.CanteenMenuActivity" android:exported="true" />
        <activity android:name=".ui.screens.CartActivity" android:exported="true" />
        <activity android:name=".ui.screens.CheckBalanceActivity" android:exported="true" />
        <activity android:name=".ui.screens.DestinationMenuActivity" android:exported="true" />
        <activity android:name=".ui.screens.DestinationSelectionActivity" android:exported="true" />
        <activity android:name=".ui.screens.PintuMasukActivity" android:exported="true" />
        <activity android:name=".ui.screens.ParkingCheckinActivity" android:exported="true" />
        <activity android:name=".ui.screens.ParkingCheckinSuccessActivity" android:exported="true" />
        <activity android:name=".ui.screens.ParkingCheckoutActivity" android:exported="true" />
        <activity android:name=".ui.screens.ParkingCheckoutSuccessActivity" android:exported="true" />
        <activity android:name=".ui.screens.PaymentActivity" android:exported="true" />
        <activity android:name=".ui.screens.PaymentSuccessActivity" android:exported="true" />
        <activity android:name=".ui.screens.PintuMasukSuksesActivity" android:exported="true" />
        <activity android:name=".ui.screens.OnboardingActivity" android:exported="true" />
        <activity android:name=".ui.screens.NfcPaymentActivity" android:exported="true" />
        <activity android:name=".ui.screens.TicketPaymentActivity" android:exported="true" />

    </application>
</manifest>
